:root {
  /* YUPIIK colors (from dark to light) */
  --yupiik-site-green: #46F72F;
  --yupiik-site-purple: #D858FF;
  --yupiik-site-blue-light: #02ABEA;
  --yupiik-site-blue-dark: #1e1e1e;
  --yupiik-site-grey-light: #F4F4F4;
  --yupiik-site-grey-dark: #212121;

  --yupiik-blue1: var(--yupiik-site-blue-dark);
  --yupiik-blue2: var(--yupiik-site-blue-dark);
  --yupiik-blue3: var(--yupiik-site-blue-dark);

  --yupiik-color-white: #fff;
  --yupiik-color-black: #000;

  --yupiik-color-gray-0: var(--yupiik-color-white);
  --yupiik-color-gray-100: #f5f6f7;
  --yupiik-color-gray-200: #ebedf0;
  --yupiik-color-gray-300: #dadde1;
  --yupiik-color-gray-400: #ccd0d5;
  --yupiik-color-gray-500: #bec3c9;
  --yupiik-color-gray-600: #8d949e;
  --yupiik-color-gray-700: #606770;
  --yupiik-color-gray-800: #444950;
  --yupiik-color-gray-900: #1c1e21;
  --yupiik-color-gray-1000: var(--yupiik-color-black);

  --yupiik-color-emphasis-0: var(--yupiik-color-gray-0);
  --yupiik-color-emphasis-100: var(--yupiik-color-gray-100);
  --yupiik-color-emphasis-200: var(--yupiik-color-gray-200);
  --yupiik-color-emphasis-300: var(--yupiik-color-gray-300);
  --yupiik-color-emphasis-400: var(--yupiik-color-gray-400);
  --yupiik-color-emphasis-500: var(--yupiik-color-gray-500);
  --yupiik-color-emphasis-600: var(--yupiik-color-gray-600);
  --yupiik-color-emphasis-700: var(--yupiik-color-gray-700);
  --yupiik-color-emphasis-800: var(--yupiik-color-gray-800);
  --yupiik-color-emphasis-900: var(--yupiik-color-gray-900);
  --yupiik-color-emphasis-1000: var(--yupiik-color-gray-1000);
  --yupiik-color-content: var(--yupiik-color-emphasis-900);

  --yupiik-font-family-base: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --yupiik-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --yupiik-font-size-base: 100%;

  --yupiik-font-weight-light: 300;
  --yupiik-font-weight-normal: 400;
  --yupiik-font-weight-semibold: 500;
  --yupiik-font-weight-bold: 700;

  --yupiik-font-weight-base: var(--yupiik-font-weight-normal);
  --yupiik-line-height-base: 1.65;
  --yupiik-font-weight-light: 300;
  --yupiik-font-weight-normal: 400;
  --yupiik-font-weight-semibold: 500;
  --yupiik-font-weight-bold: 700;

  --yupiik-font-weight-base: var(--yupiik-font-weight-normal);
  --yupiik-line-height-base: 1.65;

  --yupiik-global-spacing: 1rem;
  --yupiik-spacing-vertical: var(--yupiik-global-spacing);
  --yupiik-spacing-horizontal: var(--yupiik-global-spacing);

  --yupiik-h1-font-size: 2rem;
  --yupiik-h2-font-size: 1.5rem;
  --yupiik-h3-font-size: 1.25rem;
  --yupiik-h4-font-size: 1rem;
  --yupiik-h5-font-size: 0.875rem;
  --yupiik-h6-font-size: 0.85rem;

  --yupiik-heading-color: var(--yupiik-blue1);
  --yupiik-heading-margin-top: 0;
  --yupiik-heading-margin-bottom: var(--yupiik-spacing-vertical);
  --yupiik-heading-font-family: var(--yupiik-font-family-base);
  --yupiik-heading-font-weight: var(--yupiik-font-weight-bold);
  --yupiik-heading-line-height: 1.25;
}

div.colist.arabic > ol > li:before {
  background-color: #FE0000 !important;
}
.theme-icon-holder,
.social-list li a,
a,
code {
  color: #FE0000 !important;
}
code.hljs {
  color: #dcdcdc !important;
}
.social-list li:not(:last-child) {
  margin-right: 0.5rem;
}
.social-list li {
  padding-top: 0px;
}
footer > div.footer-bottom {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  justify-content: center;
}
.yupiik-logo {
  max-height: 30px;
  margin-top: -0.25rem;
}

/* categories colors */
.category-javaeemicroprofile {
    color: #5382a1 !important;
}
.category-frontend {
    color: #43853d !important;
}
.category-bigdata {
    color: #FF570A !important;
}

.blog-links {
    visibility: inherit;
    max-width: inherit;
}

img {
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  body, .header, .card {
    background-color: rgba(0,0,0,.85);
    color: white;
  }

  .social-list.list-inline > .list-inline-item {
    background-color: #262626;
  }

  code {
    background-color: #1e1e1e !important;
    border: 1px solid black;
  }

  .quoteblock blockquote, .quoteblock blockquote p {
    color: white;
  }

  .admonitionblock td.icon .icon-tip:before {
    color: rgb(255, 225, 57);
  }

  .copy-code-button {
    background-color: #005d9b;
    color: white;
    border-radius: 0 0 0 .4rem;
  }

  h1, h2, h3, h4, h5, h6,
  .site-logo .logo-text,
  .admonitionblock>table td.content {
    color: white !important;
  }

  .card h4, .card h5 {
    color: #1e1e1e !important;
  }

  .card:hover {
    background-color: #163041;
  }

  table tr td, table tr th {
    color: white;
  }

  .modal-content {
    background-color: #262626;
  }
}
